@import url('https://fonts.googleapis.com/css?family=Actor');


html{
    background-color: #1d8bdd59;
    color:#212121;
}
li {
    margin: 5px;
    list-style-type: none;
}

label {
    vertical-align: middle;
    margin-left: 11px;
    font-size: 1em;
    font-family: 'Actor', sans-serif;
}

.arrow{
    vertical-align: middle;
    width: 12px;

}

#second {
    color: white;
    background-color: #46535c;
    border-radius: 8px;
}



.multi-level input[type=checkbox] ~ .sub-item{
    display: none;
}

.multi-level input[type=checkbox]:checked ~ .sub-item{
    display: block;
}



span.highlight {
    background-color: #db3405; cursor: pointer; }
span.splink {
    color: #212121; cursor: pointer; }

.head-menu {
    display: inline-flex;
    margin-top: -8px;
    display: inline-flex;
    background-color: #00BCD4;
    width: 100%;
    color: white;
    padding: 11px;
    font-size: 1.4em;
}

.footer-menu {
    display: inline-flex;
    margin-top: -8px;
    display: inline-flex;
    background-color: #00BCD4;
    width: 100%;
    color: white;
    padding: 11px;
    font-size: 1.4em;
    margin-bottom: -10px;
}
.sub-point-1{
    margin-left: 200px
;
}