@import url('https://fonts.googleapis.com/css?family=Actor');

body{
    margin-left: -8px;
    width: 100%;
}
html{
    background-color: #1d8bdd59;
    color:#212121;
}
li {
    margin: 5px;
    list-style-type: none;
}

label {
    vertical-align: middle;
    margin-left: 11px;
    font-size: 1em;
    font-family: 'Actor', sans-serif;
}

.arrow{
    vertical-align: middle;
    width: 12px;

}

#second {
    color: white;
    background-color: #46535c;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 0.8em;
    font-family: 'Actor', sans-serif;
}


span.highlight {
    background-color: #db3405; cursor: pointer; }
span.splink {
    color: #212121; cursor: pointer; }

.head-menu {
    display: inline-flex;
    margin-top: -8px;
    display: inline-flex;
    background-color: #00BCD4;
    width: 100%;
    color: white;
    padding: 11px;
    font-size: 1.4em;
}

.footer-menu {
    background-color: #00BCD4;
    width: 100%;
    color: white;
    padding: 11px;
    font-size: 1.4em;
    margin-bottom: -10px;
}
.sub-point-1{
    margin-left: 200px;
}

.multi-level{
    margin-left: 30px;
}

.sub-item-1{
    background-color: #21d8f3;
    border-radius: 5px;
}

.sub-item-2{
    background-color: #21d8f3;
}

.foot-item-add{
    display: inline-flex;
}

.foot-item-del{
    display: inline-flex;
}

.foot-item-chan{
    display: inline-flex;
}
