#somebutton,#somebutton1, #somebutton2, #somebutton3 {
    text-align: left;
background: #2196F3;
padding: 5px;
color: white;
width: 100%;
font-size: 0.9em;
border-radius: 5px;
}

ul{
    background-color: lightskyblue;
}
li{
    text-decoration: none;
    border:3px;
    color:white;

}

.main-menu{
display:inline-flex;
    background: #2196F3;
    color:white;
    text-decoration: none;
    padding: 5px;
}